{% extends 'base.html' %}

{% block headcontent %}
<title>학원검색</title>
{% endblock %}
{% block content %}
{% load static %}
<style>
    table, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 22px;
            font-size: 20px;
            margin-bottom: 15px;
        }
    table {
            table-layout: fixed;
            width: 200%;
            text-align : auto;
            }
    .fontsize {
              font-size: 15px;
                }
    .fontsize>a { color: blue;
                }
</style>
<br>
<br>
<br>
 <main class="" id="main-collapse">
    <section class="search-sec">
        <div class="container">
            <form action="{% url 'services1' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <select onchange="if(this.value) location.href=(this.value);" class="form-control search-slt" id="exampleFormControlSelect">
                                    <option>{{dosi}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <select onchange="if(this.value) location.href=(this.value)" class="form-control search-slt" id="exampleFormControlSelect2">
                                    <option>{{gugun}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                    <option>{{academy}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <a href="{% url 'services1' %}" class="btn btn-danger wrn-btn">재설정</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </section>
<hr>
     {% for sido in sidos %}
     {% if sido.name == academy and sido.address_city == dosi and sido.address_town == gugun %}
    <div class="col-xs-12 col-md-6">
            <table border="1">
                <tr><th>학원명</th><th>주소</th><th>수강료(1종)</th><th>수강료(2종)</th><th>셔틀버스</th><th>전화번호</th><th>사이트URL</tr>
                <tr><td>{{academy}}</td><td>{{sido.address_full}}</td><td>{{sido.fee1}}원</td><td>{{sido.fee2}}원</td><td><a href="{{sido.bus}}">바로가기</a></td><td>{{sido.phone_number}}</td><td><a href="{{sido.url}}">바로가기</a></td></tr>
            </table>
    </div>
    <!-- 테이블 만들기 -->
     {% endif %}
     {% endfor %}

</main>
{% endblock %}