{% extends 'base.html' %}

{% block headcontent %}
<title>학원검색</title>
{% endblock %}
{% block content %}
{% load static %}
<br>
<br>
<br>
 <main class="" id="main-collapse">
    <section class="search-sec">
        <div class="container">
            <form action="{% url 'services1' %}" method="post" novalidate="novalidate">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <select onchange="if(this.value) location.href=(this.value);" class="form-control search-slt" id="exampleFormControlSelect">
                                    <option>{{dosi}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                 <select onchange="if(this.value) location.href=(this.value)" class="form-control search-slt" id="exampleFormControlSelect2">
                                    <option>{{gugun}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <select onchange="if(this.value) location.href=(this.value)" class="form-control search-slt" id="exampleFormControlSelect3">
                                    <option>학원명</option>
                                    {% for sido in sidos %}
                                     {% if sido.address_town == gugun %}
                                     <option onchange="location.href ={% url 'services1' %}">{{sido.name}}</option>
                                     {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <a onclick="notyet()" class="btn btn-danger wrn-btn">검 색</a>
                                <a href="{% url 'services1' %}" class="btn btn-danger wrn-btn">재설정</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </section>
<hr>
</main>
<script>
    function notyet() {
    alert("위치정보를 입력해주세요")
    }
</script>
{% endblock %}