{% extends 'base.html' %}
{% block headcontent %}
<title>🚗내 주변 학원 🚘</title>
{% endblock %}

{% block content %}
{% load static %}

<style>
    table, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 20px;
            font-size: 15x;
            margin-bottom: 15px;
        }
    table {
            table-layout: fixed;
            width: 100%;
            background-color : #bbdefb;
            }
    .fontsize {
              font-size: 15px;
                }
    .fontsize>a { color: blue;
                }

    .customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
    .customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
    .customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
    .customoverlay .title {display:block;text-align:center;background:#fff;margin-right:30px;padding:10px 15px;font-size:14px;font-weight:bold;}
    .customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}



</style>

<main class="" id="main-collapse">
  <div class="row">
    <div class="col-xs-12 col-md-6">
        <p style="margin-top:-12px">
            <b>자동차를 클릭하시면, 수강료 / 전화번호 / 셔틀버스 정보를 확인할 수 있습니다.</b>
        </p>

        <div id="map" style="height:695px;"></div>
    </div>


  <div class="col-xs-12 col-md-6">
            <table>
                <tr><td width="20%">학원명</td><td id = 'name'  class = 'fontsize'></td></tr>
                <tr><td width="20%">위치</td><td id = 'location' class = 'fontsize'></td></tr>
                <tr><td width="5%">1종 보통 수강료</td><td id = 'fee1' class = 'fontsize'></td></tr>
                <tr><td width="5%">2종 자동 수강료</td><td id = 'fee2' class = 'fontsize'></td></tr>
                <tr><td width="25%">전화번호</td><td id = 'phone_number' class = 'fontsize'></td></tr>
                <tr><td width="25%">셔틀버스</td><td id = 'bus'></td></tr>
            </table>
    <div>
        클릭한 학원에 따라 후기 게시판으로?
    </div>

  </div>

  </div>

</main>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1cc2187c8717ffab77eb12ceab5806ae&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            minLevel: 3, // 최소 레벨
            maxLevel : 8, // 최대 레벨
            level: 8 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    var mapTypeControl = new kakao.maps.MapTypeControl(); // 지도 타임 컨트롤을 생성합니다.

    // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

    // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

    // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
    if (navigator.geolocation) {
        // GeoLocation을 이용해서 접속 위치를 얻어옵니다
        navigator.geolocation.getCurrentPosition(function(position) {
            var lat = position.coords.latitude, // 위도
                lon = position.coords.longitude; // 경도
            var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                message = '<div style="padding:5px;">현 위치</div>'; // 인포윈도우에 표시될 내용입니다

            // 마커와 인포윈도우를 표시합니다
            displayMarker(locPosition, message);
        });

    } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
        var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
            message = 'geolocation을 사용할 수 없습니다.'

        displayMarker(locPosition, message);
    }

    var geocoder = new kakao.maps.services.Geocoder();

    // 이미지 변경
    var imageSrc = "/static/images/academymarker.png";


    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(60,70);

    // 마커 이미지를 생성합니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

    {% for location in Academy %}
    geocoder.addressSearch('{{location.address_full}}', function(result, status) {

    // 정상적으로 검색이 완료됐으면
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: coords,
            title : '{{location.name}}', // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                    image : markerImage // 마커 이미지
            });

        // 커스텀 오버레이에 표출될 내용을 설정합니다.
        var content = '<div class="customoverlay">' +
        '  <a href="{{location.url}}" target="_blank">' +
        '  <span class="title">{{location.name}} 운전전문학원</span>' +
        '  </a>' +
        '</div>';

        // 커스텀 오버레이의 위치를 설정합니다
        var position = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            map: map,
            position: position,
            content: content,
            yAnchor: 1
            });

    // 중심 좌표 바뀌었을 때 현 위치로 되돌아오는 이벤트 리스너 추가 (center changed)


    // 이벤트 리스너
    kakao.maps.event.addListener(marker, 'click', clickevent('{{location.name}}','{{location.address_full}}','{{location.fee1}}','{{location.fee2}}','{{location.phone_number}}','{{location.bus}}'));
    }
    });

    {% endfor %}


// 클릭이벤트 수행시 학원명, 주소, 가격, 셔틀, 전화번호를 가져오고 출력
// 수정해야할 부분 : 버스 null인 경우, fee1 fee2 null 인 경우 (전화문의로 통일되어 출력되도록 )

function clickevent(name, address, fee1, fee2, phone_number, bus) {
    return function(){
        document.getElementById('name').innerText = name + " 운전 전문학원"
        document.getElementById('location').innerText = address
        document.getElementById('fee1').innerText = fee1 + "원"
        document.getElementById('fee2').innerText = fee2 + "원"
        document.getElementById('phone_number').innerHTML = `<a href = "tel:${phone_number}">${phone_number}</a>`
        document.getElementById('bus').innerHTML = `<a href = '${bus}'><img src="{% static 'images/shuttle.png' %}" width="30px"></a>`
        };
    }

    // 지도에 마커와 인포윈도우를 표시하는 함수입니다
    function displayMarker(locPosition, message) {

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: locPosition
        });

        // 지도 중심좌표를 접속위치로 변경합니다
        map.setCenter(locPosition);
    }

    function resizeMap() {
        var mapContainer = document.getElementById('map');
        mapContainer.style.width = '600px';
        mapContainer.style.height = '600px';
    }

    function relayout() {

    // 지도를 표시하는 div 크기를 변경한 이후 지도가 정상적으로 표출되지 않을 수도 있습니다
    // 크기를 변경한 이후에는 반드시  map.relayout 함수를 호출해야 합니다
    // window의 resize 이벤트에 의한 크기변경은 map.relayout 함수가 자동으로 호출됩니다
        map.relayout();
}

    // 지도 초기화 이벤트 핸들러 추가? (수정중)
    function resetKakaoMap(){
        map.setCenter(mapCenter); //지도를 초기화 했던 값으로 다시 셋팅합니다.
        map.setLevel(mapOption.level);
}

</script>

{% endblock %}