{% extends 'base.html' %}

{% block headcontent %}
<title>Title page</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
{% load static %}

{% if flag %}
<main class="" id="main-collapse">
  <div class="row">
    <div class="col-xs-8 section-container-spacer">
      <h1>Create Review</h1>
      <p>시험장 리뷰를 남겨 봅시다!</p>
      <hr>
    </div>
  </div>

  <form method="POST" action="{% url 'create_testsite_review' %}">
    {% csrf_token %}

      <label for="t_name">시험장</label>
      <select id="t_name" class="form-control" name="t_name" required>
        <option value="none">=== 시험장명 ===</option>
      </select>
      <br>
      <label for="InputTitle">제목</label>
      <input type="text" class="form-control" id="InputTitle" name="title" placeholder="title" required><br>
      <label for="InputContent">내용</label>
      <textarea id="InputContent" class="form-control" rows="3" name="content" placeholder="content" required></textarea><br>
      <label for="InputPassword">비밀번호</label>
      <input type="password" class="form-control" id="InputPassword" name="password" placeholder="password" required><br>
      <br>
      <button type="submit" value="Submit">작성완료</button>
      <button type="reset" value="Reset">재작성</button>
  </form>
</main>
{% endif %}

<script>
  window.onload = function(){
    var target = $('#t_name');

    $.getJSON("{% url 'get_testsite_name' %}", function(jsonObj){
      if(jsonObj.length==0){
        target.append("<option value='none'>=== 선택 ===</option>");
      }
      else{
        for(let i in jsonObj.nameList)
          target.append("<option value="+ jsonObj.nameList[i] +">"+ jsonObj.nameList[i] + "</option>");
      }
    });
  }
  /*
    $(document).ready(function() {
        var target = $('#t_name');

        $.getJSON("{% url 'get_testsite_name' %}", function(jsonObj){
            if(jsonObj.length!=0){
                for(let i in jsonObj.nameList)
                    target.append("<option value="+ jsonObj.nameList[i] +">"+ jsonObj.nameList[i] + "</option>");
            }
        });
    }
    */
</script>
{% endblock %}