{% extends 'base.html' %}

{% block headcontent %}
<title>Title page</title>
{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
{% load static %}

<main class="" id="main-collapse">


  <div class="row">
    <div class="col-xs-8 section-container-spacer">
      <h1>Review</h1>
      <p>학원 리뷰를 남기고 싶으면 "학원", 시험장 리뷰를 남기고 싶으면 "시험장"를 선택하세요</p>
      <hr>
    </div>
  </div>
  <div class="col-xs-12 col-md-1 section-container-spacer">
    <a href="{% url 'review_academy' %}" id="academy" class="btn btn-primary" title=""> 학원 </a>
  </div>
  <div class="col-xs-12 col-md-1 section-container-spacer">
    <a href="{% url 'review_testsite' %}" id="testsite" class="btn btn-default" title=""> 시험장 </a>
  </div>

  {% if academyReview %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>제목</th><th>학원 이름</th><th>시/도</th><th>시/구/군</th><th>작성일</th><th>수정하기</th><th>삭제하기</th>
      </tr>
    </thead>
    <tbody>
      {% for review in academyReview %}
      <tr>
        <td> {{ review.title }} </td>
        <td> {{ review.academy_id.name }} </td>
        <td> {{ review.academy_id.address_city }} </td>
        <td> {{ review.academy_id.address_town }} </td>
        <td> {{ review.writedate }} </td>
        <td><button onclick="updateAcademy('{{ review.pk }}')">수정하기</button></td>
        <td><button onclick="deleteAcademy('{{ review.pk }}')">삭제하기</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <br>

  <div class="col-xs-12 section-container-spacer">
    <p>아직 내용이 없습니다</p>
  </div>
  {% endif %}
  <h5>
	{% if academyReview.has_previous %}
		<a href='?page={{academyReview.number|add:-1}}'>이전페이지</a>
	{% endif %}
	Page {{ academyReview.number }} / {{ academyReview.paginator.num_pages }}
	{% if academyReview.has_next %}
		<a href='?page={{academyReview.number|add:+1}}'>다음페이지</a>
	{% endif %}
  </h5>
  <div class="create_btn"><button  onclick="createAcademy()">글 작성하기</button></div>
</main>
<script>

  function updateAcademy(pk){
    let result = confirm("수정하시겠습니까?");
    if(result)
      location.href = "{% url 'update_academy1' %}?pk="+pk;
  }

  function deleteAcademy(pk){
    let result = confirm("정말로 삭제하겠습니까??");
    if(result)
      location.href = "{% url 'delete_academy' %}?pk="+pk;
  }

  function createAcademy(){
    location.href = "{% url 'create_academy' %}";
  }

</script>

<!-- 원래코드
<div class="row">
  <div class="col-xs-12 section-container-spacer">
    <h1>후기</h1>
    <hr>
    <p>학원 리뷰를 남기고 싶으면 "Academy"</p>
    <p>시험장 리뷰를 남기고 싶으면 "TestSite"를 선택하세요</p>
  </div>
  <div class="col-xs-12 col-md-4 section-container-spacer">
    <img class="img-responsive" alt="" src= "{% static 'images/img-12.jpg' %}">
    <h2>Consectetur</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="{% url 'contact' %}" class="btn btn-primary" title=""> Get in touch</a>
  </div>

  <div class="col-xs-12 col-md-4 section-container-spacer">
    <img class="img-responsive" alt="" src="{% static 'images/img-13.jpg' %}">
    <h2>Adipiscing</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="{% url 'contact' %}" class="btn btn-primary" title=""> Get in touch</a>
  </div>

  <div class="col-xs-12 col-md-4 section-container-spacer">
    <img class="img-responsive" alt="" src="{% static 'images/img-14.jpg' %}">
    <h2>Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="{% url 'contact' %}" class="btn btn-primary" title=""> Get in touch</a>
  </div>

</div>


</main>
-->
{% endblock %}