{% extends 'base.html' %}
{% block css %}

{% endblock %}
{% block headcontent %}
<title>다함께 차차차</title>
{% endblock %}

{% block content %}
{% load static %}

<!-- 팀원들 깃허브와 연결지으면 어떨지.. -->

<main class="" id="main-collapse">
<!-- Add your site or app content here -->

  <div class="hero-full-wrapper">
    <img class="img-responsive" alt="" src="{% static 'images/4.png' %}" width="100%" style="border-radius: 100px;  overflow: hidden;">
  </div>
  <br>
  <div class="row">
    <div class="hero-full-wrapper" style="text-align:center;">
      <a href="https://github.com/he-reme"><img alt="" src="{% static 'images/github1.png' %}" width="30px"></a>
      <a href="https://github.com/sanghyun-an"><img alt="" src="{% static 'images/github2.png' %}" width="30px"></a>
      <a href="https://github.com/MyChoYS"><img alt="" src="{% static 'images/github3.png' %}" width="30px"></a>
      <a href="https://github.com/so02e"><img alt="" src="{% static 'images/github4.png' %}" width="30px"></a>
    </div>
  </div>
  <div class="row">
    <div class="hero-full-wrapper" style="text-align:center;">
      <h3>야, 너도 할 수 있어</h3>
      <p>뚱이도 따는데</p>
    </div>
  </div>


    <!--
      <div class="grid-item">
        <img class="img-responsive" alt="" src="{% static 'images/1.jpg' %}">
        <a href="https://github.com/he-reme" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>김혜림</h3>
              <p>he-reme</p>
            </div>
          </div>
        </a>
      </div>


      <div class="grid-item">
        <img class="img-responsive" alt="" src="{% static 'images/4.png' %}">
        <a href="https://github.com/sanghyun-an" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>안상현</h3>
              <p>sanghyun-an</p>
            </div>
          </div>
        </a>
      </div>



      <div class="grid-item">
        <img class="img-responsive" alt="" src="{% static 'images/6.jpg' %}">
        <a href="https://github.com/MyChoYS" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3>조용상</h3>
              <p>MyChoYS</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <img class="img-responsive" alt="" src="{% static 'images/2.jpg' %}">
      <a href="https://github.com/so02e" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>장소영</h3>
            <p>so02e</p>
          </div>
        </div>
      </a>
       -->


  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      masonryBuild();
    });
  </script>

</main>

{% endblock %}